.header-image-zilver {
  background-image: url(../../../assets/img/price/zilver.jpg);
  background-size: cover;
}

.header-image-gold {
  background-image: url(../../../assets/img/price/goud.jpg);
  background-size: cover;
}

.header-image-diamond {
  background-image: url(../../../assets/img/price/diamant.jpg);
  background-size: cover;
}