<div class="content">
    <div class="d-flex justify-content-center" fxLayout="row wrap" fxLayoutGap="16px">
        <div fxFlex="25%" fxFlex.sm="90%">
            <mat-card class="p-3 mt-5">
                <mat-card-header>
                    <div mat-card-avatar class="header-image"></div>
                    <mat-card-title>Zilver</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                    alt="Photo of a Shiba Inu">
                <mat-card-content class="text-start">
                    <ul>
                        <li>2 shooters</li>
                        <li>6 uur</li>
                        <li>minimaal 250 foto's</li>
                        <li>1200 EUR</li>
                      </ul> 
                </mat-card-content>
            </mat-card>
        </div>
        <div fxFlex="25%" fxFlex.sm="90%">
            <mat-card class="p-3 mt-5">
                <mat-card-header>
                    <div mat-card-avatar class="header-image"></div>
                    <mat-card-title>Goud</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                    alt="Photo of a Shiba Inu">
                <mat-card-content class="text-start">
                    <ul>
                        <li>2 shooters</li>
                        <li>8 uur</li>
                        <li>minimaal 400 foto's</li>
                        <li>1500 EUR</li>
                      </ul> 
                </mat-card-content>
            </mat-card>
        </div>
        <div fxFlex="25%" fxFlex.sm="90%">
            <mat-card class="p-3 mt-5">
                <mat-card-header>
                    <div mat-card-avatar class="header-image"></div>
                    <mat-card-title>Diamant</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                    alt="Photo of a Shiba Inu">
                <mat-card-content class="text-start">
                    <ul>
                        <li>2 shooters</li>
                        <li>hele dag</li>
                        <li>minimaal 500 foto's</li>
                        <li>1800 EUR</li>
                      </ul> 
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>