<div class="content">
    <div class="d-flex justify-content-center" fxLayout="row wrap">
        <div fxFlex="90%" fxFlex.sm="90%">
            <mat-card class="p-3 mt-5">
                <mat-card-header>
                    <mat-card-title>The Wedding Flashers</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="../../../assets/img/us/us.jpg"
                    alt="Photo of a Shiba Inu">
                <mat-card-content class="text-start">
                    <p>
                        Hey, Wij zijn Djaccomo en Steven. we komen beiden uit Amersfoort.
                        <br><br>                       
                        Waarom 2 shooters, tweede hoek zodat we altijd de reactie van jullie beide vast kunnen leggen. Jullie reactie en van jullie naasten. Voorbereiding van beide.
                        <br><br>
                        Zoals de naam al doet vermoeden, waar geen goed licht is, creeeren wij dat. Slecht belichte omgevingen zijn voor ons geen probleem! Wij zorgen ervoor dat jullie in een goed daglicht komen te staan ;)
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div class="d-flex justify-content-center" fxLayout="row wrap" fxLayoutGap="5%">
        <div fxFlex="40%" fxFlex.sm="90%">
            <mat-card class="p-3 mt-5">
                <mat-card-header>
                    <mat-card-title>Djaccomo Boom</mat-card-title>
                </mat-card-header>
                <img mat-card-image  src="../../../assets/img/us/boom.jpg"
                    alt="Photo of a Shiba Inu">
                <mat-card-content class="text-start">
                    <p>
                        Voor mij is fotografie het vastleggen van een moment, een emotie en een gevoel. Het samenspel van licht, omgeving en het onderwerp zorgt voor een plaatje wat meer zegt dan 1000 woorden. Dit moment wil ik vastleggen en delen met anderen. Mijn kijk op schoonheid en het vastleggen van deze momenten zijn anders dan die van een ander. Maar zorgt er wel voor dat de foto's die ik maak uniek en speciaal zijn. Juist om die reden ben ik begonnen met fotografie en daarom wil ik mijn passie voor fotografie met jullie delen.

-Beauty is in the eye of the beholder-
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
        <div fxFlex="40%" fxFlex.sm="90%">
            <mat-card class="p-3 mt-5">
                <mat-card-header>
                    <mat-card-title>Steven Glasius</mat-card-title>
                </mat-card-header>
                <img mat-card-image  src="../../../assets/img/us/steven.jpg"
                    alt="Photo of a Shiba Inu">
                <mat-card-content class="text-start">
                    <p>
                        Steven hier, druk met website bouwen en even koos inspiratieloos mbt verhaaltje over mezelf
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>