<div class="content">
    <div class="d-flex justify-content-center" fxLayout="row wrap" fxLayoutGap="16px">
        <div fxFlex="90%" fxFlex.sm="90%">
            <mat-card class="p-3 mt-5">
                <mat-card-header>
                    <div mat-card-avatar class="header-image"></div>
                    <mat-card-title>Contact</mat-card-title>
                </mat-card-header>
                <mat-card-content class="text-start">
                    <span class="material-icons">phone</span>  06 - 51 45 98 89
                    <br>
                    <span class="material-icons">mail</span> slglasius@gmail.com
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>