<div class="content">
    <div class="d-flex justify-content-center" fxLayout="row wrap">
        <div fxFlex="95%" fxFlex.sm="95%">
            <mat-card class="p-3 mt-5">
                <mat-card-header>
                    <mat-card-title><h1>Contact</h1></mat-card-title>
                </mat-card-header>
                <mat-card-content class="text-start">
                    <br>
                    <h2>Geen formulier, gelijk contact!</h2>
                    <br>
                    <span class="material-icons">phone</span>  06 - 51 45 98 89
                    <br>
                    <span class="material-icons">mail</span> slglasius@gmail.com
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>