<div>
  <mat-toolbar>
    <div fxShow="true" fxHide.gt-md="true">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <a mat-button class="companyName" routerLink="/">
      <span routerLink="/">The Wedding Flashers</span>
    </a>
    <span class="topbar-spacer"></span>
    <div fxShow="true" fxHide.lt-lg="true">

      <a mat-button routerLink="/over">Over</a>
      <a mat-button routerLink="/fotos">Foto</a>
      <a mat-button routerLink="/video">Video</a>
      <a mat-button routerLink="/prijzen">Prijzen</a>
      <a mat-button routerLink="/contact">Contact</a>
    </div>

  </mat-toolbar>
  <mat-sidenav-container fxFlexFill class="sidenav-container">

    <mat-sidenav color="primary" #sidenav mode="over" opened="false" fxHide.gt-lg="true">
      <div  class="overflow-hidden" fxLayout="column">
        <a mat-button routerLink="/over">Over Ons</a>
        <a mat-button routerLink="/fotos">Foto's</a>
        <a mat-button routerLink="/video">Video</a>
        <a mat-button routerLink="/prijzen">Prijzen</a>
        <a mat-button routerLink="/contact">Contact</a>
      </div>
    </mat-sidenav>
    <mat-sidenav-content >
      <router-outlet></router-outlet>

    </mat-sidenav-content>
  </mat-sidenav-container>
</div>