.companyName{
  font-size: 150%;
}

.mat-toolbar{
height: 7%;
background-color: rgba(230, 230, 230, 0.3);
}

div {
  overflow: inherit;
}

.mat-sidenav-container{
background-color: white;
min-height: 93vh !important;
font-size: 150%;
}

a{
  text-decoration: none;
  font-size: 110%;
  white-space: normal;
}

button{
  font-size: 110%;
  min-width: min-content;
}

.topbar-spacer {
  flex: 1 1 auto;
}

.mat-sidenav-content{
    font-size: 200%;
    text-align: center;
  
}
.mat-toolbar {
    position: sticky;
    position: -webkit-sticky; /* For macOS/iOS Safari */
    top: 0; /* Sets the sticky toolbar to be on top */
    z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}