<div class="main-content">
  <h1 class="main-heading">AUTHENTIEK, PERSOONLIJK &<br>ALTIJD IN EEN GOED (DAG)LICHT<br><h4>Amersfoort & Nederland Bruiloft Foto- en videografie </h4></h1>
  
</div>
<ul class="slideshow">
  <li>
    <span class="img-bg-slide">Image 01</span>
  </li>
  <li>
    <span class="img-bg-slide">Image 02</span>
  </li>
  <li>
    <span class="img-bg-slide">Image 03</span>
  </li>
  <li>
    <span class="img-bg-slide">Image 04</span>
  </li>
  <li>
    <span class="img-bg-slide">Image 05</span>
  </li>
  <li>
    <span class="img-bg-slide">Image 06</span>
  </li>
  <li>
    <span class="img-bg-slide">Image 07</span>
  </li>
</ul>