<!-- <div *ngFor="let photo of photos">
    <img fxFlex="25%" fxFlex.sm="90%" src={{photo.url}} />
</div> -->

<!-- <mat-grid-list cols="5" rowHeight="300px">
    <mat-grid-tile
        *ngFor="let photo of photos"
        [colspan]="photo.cols"
        [rowspan]="photo.rows">
        <img fxFlex="100%" fxFlex.sm="90%" src={{photo.url}} />
    </mat-grid-tile>
  </mat-grid-list> -->
  

  <!-- <ul class="mdc-image-list my-image-list">
    <li class="mdc-image-list__item">
      <div  *ngFor="let photo of photos" class="mdc-image-list__image-aspect-container">
        <img class="mdc-image-list__image"  src={{photo.url}} />
      </div>
      <div class="mdc-image-list__supporting">
        <span class="mdc-image-list__label">Text label</span>
      </div>
    </li>
    ...
  </ul> -->

  
  <ul class="mdc-image-list mdc-image-list--woven my-woven-image-list">
    <li class="mdc-image-list__item">
        <img height="50%" *ngFor="let photo of photos" class="mdc-image-list__image"  src={{photo.url}} />
      <div class="mdc-image-list__supporting">
      </div>
    </li>
  </ul>